.nav-link {
    cursor: pointer;
    user-select: none;
}

.todo-item {
    border-bottom: 1px solid #17a2b8;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.todo-item__title {
    cursor: pointer;
    user-select: none;
}

.todo-item__title.completed {
    text-decoration: line-through;
}

.todo-item__controls {
    cursor: pointer;
}